body{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

code {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.contenido-padre {
    display: flex;
    flex-direction:row;
}

.contenidohijo {
    flex: 1 1 1%;
    border: .2px solid rgb(90, 12, 255);
    text-align: left;
    padding: 10px;
    background: rgb(145,255,173);
    background: radial-gradient(circle, rgba(145,255,173,1) 0%, rgba(148,187,233,1) 100%);
}

.sidebar {
    position: fixed;
    width: 15%;
    background: #57f5f51a;
    font-size: 90%;
    border-radius: 10px;
}

.contenidohijo aside nav {
    position: absolute;
    text-align: center;
    font-weight: bold;
}

.contenidohijo aside nav ul{
    list-style: none;
}

.contenidohijo aside nav ul li{
    position: relative;
}

.contenidohijo aside nav ul li a{
    line-height: 400%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(#FFF, 0.35);
    display: block;
}

#menuizquierdo {
    background: rgb(121,169,255);
    background: linear-gradient(21deg, rgba(121,169,255,1) 0%, rgba(108,255,1,1) 50%, rgba(252,176,69,1) 100%);
    max-width: 20%;
}

#main-doc {
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (max-width: 779px) {
    body {
        background-color: rgb(255, 193, 173);
        font-size: 50%;
    }

    #menuizquierdo {
        max-width: 35%;

    }

    code {
        background-color: transparent;
    }

}